body {
  padding-top: 56px;
  text-align: justify;
  font-family: 'Comfortaa', cursive;
  color: white;
}

.lead{
	font-family: 'Comfortaa', cursive;
  color: black;
  font-size: 14px;
}

.bg-dark{
	background-color: #7ad0d6!important;
	color: white;

}

.bg-light{
	background-color: #7ad0d6!important;
	color: white;
}

.navbar-light .navbar-brand{
	color:white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 16px;
}

h6{
	color: white;
	text-align: center;
}

footer .container{
    padding-top: 0px;
}

.fas fa-home mr-3{
	color: white;
}

p{
	 text-align: justify;
}

.mb-4, .my-4 {
    margin-bottom: 0rem!important;
}

h5{
	color: white;
	text-align: center;
}

.dark-grey-text{
	color:white;
}

.text-black-50 {
    color: white!important;
}

footer{
	background-color:#7ad0d6;
}

.card-footer{
	border-top: 1px solid #7ad0d6;
	background-color: transparent;
}

h1{
	font-family: 'Comfortaa', cursive;
  	color: white;
  	font-size: 45px;
}

.bg-primary {
    background-color: #E59B74!important;
}

.fab{
	color:white;
}
